* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d4dcde;
}

.container {
  margin: 0 auto;
  width: 1300px;
  margin-top: 10px;
  background-color: red;
  padding: 10px;
  margin-bottom: 15px;
}

header {
  width: 100%;
  height: 50px;
  background-color: green;
}

.aside-left {
  background-color: blue;
  width: 275px;
  float: left;
  margin-right: 17px;
  height: 85%;
  padding: 16px;
}

.aside-right {
  background-color: yellow;
  width: 275px;
  float: right;
  height: 85%;
  padding: 16px;
}

article {
  background-color: lightgray;
  width: 700px;
  float: left;
  height: 95%;
  padding: 12px;
}

footer {
  background-color: orange;
  height: 156px;
  padding: 25px;
  position: relative;
  display: block;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
